<div class="container">
  <div class="card">
      <div class="card-header">Liste des agents</div>

      <div class="card-body">
          <table class="table">
              <thead>
                  <tr>
                      <th>ID</th> <th>Nom</th> <th>Prénom</th><th>Matricule</th> <th>Grade</th><th>Adresse</th><th>Téléphone</th>
                  </tr>
              </thead>
              <tbody>
                  <tr *ngFor="let agent of agents">
                      <td>{{agent.id}}</td>
                      <td>{{agent.nom}}</td>
                      <td>{{agent.prenom}}</td>                      
                      <td>{{agent.matricule}}</td>
                      <td>{{agent.grade}}</td>                                                
                      <td>{{agent.adresse}}</td>                                                
                      <td> 06 00 00 00 00</td>                                                
                  </tr>
              </tbody>
          </table>
      </div>
  </div>
</div>
